.footer {
  background-color: #054570;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #4B94C3;
  font-family: 'Playfair Display', serif;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #4B94C3;
}

.footer p {
  margin: 10px 0;
  font-size: 0.9rem;
}
