.footer {
  background-color: black;
  color: white;
  padding: 30px 0;
  text-align: center;
  border-top: 2px solid #4B94C3;
  font-family: 'Playfair Display', serif;
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer a {
  color: #4B94C3;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.footer a:hover {
  color: #26687e;
}

.footer p {
  margin: 10px 0;
  font-size: 0.9rem;
}
