.joinUsPage {
  font-family: "Playfair Display", serif;
  color: black;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  color: black;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
  color: #333;
}

.sectionContainer {
  margin-bottom: 40px;
  text-align: left;
}

.sectionContainer h2 {
  color: #4b94c3;
  font-size: 1.4rem;
}

.sectionContainer a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.sectionContainer summary {
  font-size: 1.2rem;
}

.sectionContainer li {
  font-size: 1.1rem;
}

.sectionContainer p {
  font-size: 1.1rem;
}

.sectionContainer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .contactDetails {
    flex-direction: column;
    align-items: center;
  }
}
