@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Global Color Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4B94C3;
  --primary-hover: #26687e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--foreground);
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-hover);
}

/* Utility Classes */
.hidden {
  display: none;
}

.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
