.container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    color: black;
    padding: 50px 20px;
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .textContent {
    flex: 1;
    margin-right: 20px; /* Space between text and image */
  }

  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .title {
    font-size: 2.5rem;
  }
  
  .description {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .ctaButton {
    background: #7cb4d6;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .ctaButton:hover {
    background: #4B94C3;
  }
  
  .section {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
  }
  